<div>
  {{ countdown }}
  <form name="SearchUser" ng-submit="search()">
    <input type="search" placeholder="Username to find" ng-model="username" required="">
    <input type="submit" value="Search">
  </form>
</div>