<h2>Repo Name: {{repo.name}}</h2>
<h4>{{error}}<h4>
<div>Issues: {{repo.open_issues_count}}</div>
<div>
  <ul>
    <li ng-repeat="user in repo.collaborators">
      <img ng-src="http://www.gravatar.com/avatar/{{user.gravatar_id}}" alt="{{user.login}}">
      {{ user.login }}
    </li>
  </ul>
</div>
<a href="#/main">Back to search</a>
<a href="#/user/{{repo.owner.login}}">Back to {{repo.owner.login}}</a>