<div>
  <div>
    <h2>Name: {{user.name}}</h2>
    {{error}}
    Image: <br />
    <img ng-src="{{user.avatar_url}}" title="{{user.name}}"/>
  </div>
  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Star</option>
    <option value="+language">Language</option>
  </select>
  <table>
    <thead>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </thead>
    <tbody>
      <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
        <td><a href="#/repo/{{user.login}}/{{repo.name}}">{{repo.name}}</a></td>
        <td>{{repo.stargazers_count | number}}</td>
        <td>{{repo.language}}</td>
      </tr>
    </tbody>
  </table>
  <a href="#/main">Back to search</a>
</div>